{% extends 'jobs/base.html' %}

{% block content %}

<h3 class="mb-3">All Jobs</h3>

<!-- DASHBOARD CARDS -->
<div class="row mb-4">

    <div class="col">
        <div class="card text-center shadow">
            <div class="card-body">
                <h6>Total Jobs</h6>
                <h3>{{ total }}</h3>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card text-center shadow">
            <div class="card-body">
                <h6>Applied</h6>
                <h3>{{ applied }}</h3>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card text-center shadow">
            <div class="card-body">
                <h6>Interview</h6>
                <h3>{{ interview }}</h3>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card text-center shadow">
            <div class="card-body">
                <h6>Offers</h6>
                <h3>{{ offer }}</h3>
            </div>
        </div>
    </div>

</div>

<a href="/add/" class="btn btn-primary mb-3">+ Add Job</a>

<table class="table table-striped table-bordered shadow">

<tr class="table-dark">
    <th>Company</th>
    <th>Role</th>
    <th>Status</th>
    <th>Date</th>
    <th>Actions</th>
</tr>

{% for job in jobs %}
<tr>
    <td>{{ job.company }}</td>
    <td>{{ job.role }}</td>
    <td>{{ job.status }}</td>
    <td>{{ job.date_applied }}</td>
    <td>
        <a href="/edit/{{ job.id }}/" class="btn btn-warning btn-sm">Edit</a>
        <a href="/delete/{{ job.id }}/" class="btn btn-danger btn-sm">Delete</a>
    </td>
</tr>
{% endfor %}

</table>

{% endblock %}